%li{ id: "task-#{task.id}" }
  .task_form= render 'task_form', task: task
  = link_to '', 'javascript:;', remote: true, class: 'edit fa fa-edit'
  = link_to '', "/tasks/#{task.id}", method: :delete, remote: true, class: 'destroy fa fa-times'
