.left
  %h1 My Tasks
  %ul.tasks
    = render @tasks

.box.right
  %h2 New Task
  = form_for @new_task, remote: true do |f|
    .field
      = f.label :name
      %br
      = f.text_field :name

    .field
      = f.label :due_date
      %br
      = f.text_field :due_date

    .field
      = f.label :priority
      %br
      = f.select :priority, (1..10).to_a

    .field
      = f.submit 'Add', class: 'confirm'
