!!! 5
-# paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en">
/[if IE 7]    <html class="no-js lt-ie9 lt-ie8" lang="en">
/[if IE 8]    <html class="no-js lt-ie9" lang="en">
/[if gt IE 8] <!--> <html class="no-js" lang="en"> <!--
%head
  %title My Todo List

  %link{ href: '//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css', rel: 'stylesheet' }
  = stylesheet_link_tag :application, media: "all"

  = csrf_meta_tags

%body
  = flash_messages

  - if user_signed_in?
    = render 'layouts/header'

  %article{ id: controller_name }
    = yield

  - if user_signed_in?
    = render 'layouts/footer'

  = javascript_include_tag :application
  = yield :javascript